body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  font-family: Arial, Helvetica, sans-serif;
}




.portrait {
  width: 1000px;
  height: 700px;
}
.portrait p {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-align: justify;

  /* Image inside text */
  background-image: url("shydie.jpg"); /* replace with your image */
  background-size: auto;
  background-position: auto;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
